:root {
    --dark: #2C363F;
    --darker: #191F24;
    --light: #D6DBD2;
    --lighter: #F2F5EA;
    --accent: #E75A7C;
    --accent-muted: #7D84B2;
    --card-body: #A37C40;
    --card-body-two: #778472;
    --card-shadow: #C1C9BB;
    --book-card-width: 15rem;
    --book-card-height: 17rem;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-regular-webfont.woff"),
        url("fonts/ubuntu-regular-webfont.woff2");
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-bold-webfont.woff"),
        url("fonts/ubuntu-bold-webfont.woff2");
    font-weight: bold;
    font-size: normal;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-italic-webfont.woff"),
        url("fonts/ubuntu-italic-webfont.woff2");
    font-weight: normal;
    font-style: italic;
}

body {
    margin: 0;
    font: 1rem "ubuntu";
    color: var(--darker);
}

.page-container {
    display: grid;
    grid-template-columns: minmax(18rem, 20vw) minmax(25rem, 1fr);
}

header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    align-items: center;
    background-color: var(--dark);
    box-shadow: 0px 0.3rem 0.3rem var(--card-shadow);
    height: 5rem;
    font-size: 2rem;
    color: var(--lighter);
    font-weight: 700;
    padding-left: 1rem;
    z-index: 1;
}

.sidebar-container {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--accent-muted);
    color: var(--lighter);
    padding: 2rem;
    z-index: 2;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form {
    display: grid;
    column-gap: 1rem;
    row-gap: 0.5rem;
    grid-template-columns: max-content 10rem;
}

.form-title {
    font-size: 1.2rem;
    font-weight: 700;
}

label {
    justify-self: end;
}

.req-star {
    color: crimson;
}

dialog {
    padding: 2rem;
    border: 2px solid var(--dark);
    border-radius: 0.5rem;
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}

.books-container {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    row-gap: 2rem;
    column-gap: 1.3rem;
    grid-template-columns: repeat(auto-fit, var(--book-card-width));
    grid-template-rows: repeat(auto-fit, var(--book-card-height));
    grid-auto-columns: var(--book-card-width);
    grid-auto-rows: var(--book-card-height);
    height: fit-content;
    background-color: var(--light);
    padding: 2rem;
}

.books-container ul {
    list-style-type: none;
}

.book-card {
    display: grid;
    grid-template-columns: 12.5rem;
    grid-template-rows: max-content 1fr 2rem;
    row-gap: 1.2rem;
    background-color: var(--card-body-two);
    color: var(--lighter);
    padding: 1.3rem;
    border: 1px solid var(--dark);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
    box-shadow: 0.3rem 0.3rem 0.3rem var(--card-shadow);
}

.book-title {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.remove-book-button {
    background: url(icons/close-box.svg);
    border: none;
    justify-self: end;
    align-self: center;
    width: 1.8rem;
    height: 1.8rem;
}

.remove-book-button:active {
    width: 1.6rem;
    height: 1.6rem;
}

.book-title {
    font-size: 1.2rem;
    font-weight: 700;
}

footer {
    grid-area: 3 / 1 / 4 / 3;
    background-color: var(--dark);
    color: var(--lighter);
}